@import "tailwindcss";

@theme {
  --color-brand-dark: #0d0d0d;
  --color-brand-nav: #131313;
  --color-brand-active: #fd6f00;
  --color-brand-active-white: #f0f0f0;
  --color-brand-inactive: #959595;

  --font-k2d: "K2D", sans-serif;
  --font-lato: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-brand-dark text-white;
}

section {
  scroll-margin-top: 90px;
}
